:root {
    --primary-bg: #eee;
    --primary-text: #000000;
    --standard-gap: 40px;
}
body {
    font-family: times-new-roman;
    background: var(--primary-bg);
    color: var(--primary-text);
}

#projects article {
    margin: var(--standard-gap);
}
nav {
    background: rgb(247, 247, 241);
}